
# DJANGO

SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=
TIME_ZONE=
APP_HOST=

# POSTGRES DB

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# CELERY

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
CELERY_TASK_ALWAYS_EAGER=

# STRIPE

STRIPE_SECRET_KEY=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=

# TELEGRAM

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

FINE_MULTIPLIER=
